<div class="table_list-date_item">
	<div class="form_checkbox">
		<input type="checkbox" id="date<%= dateNum %>" />
		<label for="date<%= dateNum %>"><%- include('./dateDivision.ejs', {dateNum}) %></label>
	</div>
</div>
