<li class="entry_list-item">
	<label for="date<%= dateNum %>" class="entry_list-title">
		<%- include('./dateDivision.ejs', {dateNum}) %>のレシピ
	</label>
	<input id="date<%= dateNum %>" class="form_text" placeholder="楽天レシピのURLを入力してください" />
</li>