<!-- footer -->
<footer class="footer">
	<div class="footer-wrapper">
		<p><small class="footer-text">&copy;2021 KYOKO NOZAKI</small></p>
		<p class="footer-text">
			<a href="https://webservice.rakuten.co.jp/" target="_blank">
				Supported by Rakuten Developers
			</a>
		</p>
	</div>
</footer>
<!-- /footer -->
