<!-- header -->
<header class="header">
	<div class="header-wrapper">
		<a href="<%= path %>/index.html" class="header-img">
			<h1><img src="<%= path %>/assets/img/logo.png" alt="week dinner"></h1>
		</a>
		<a href="javascript:void(0);" class="header-menu_button js-modal_menu_button"></a>
	</div>
</header>
<!-- /header -->
