// color
$main-color: #5d483e;
$link-color: #958680;
$bg-color: #94857e;
$gray-color: #867872;
$yellow-color: #f9ca4b;
$white-color: #fff;

// height
$header-height: 44px;
$footer-height: 25px;

// z-index
$modal-z-index: 90;
$header-z-index: 100;

// img
$img-path: '../img';

// border-radius
$radius: 4px;